<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>NVRService</display-name>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <context-param>
    <param-name>storage</param-name>
    <param-value>ipcams_storage_NN.json</param-value>
  </context-param>
  <context-param>
    <param-name>configfile</param-name>
    <param-value>ipcams_admin_NN.json</param-value>
  </context-param>
  <context-param>
    <param-name>cameramodel</param-name>
    <param-value>ipcams_models.json</param-value>
  </context-param>
  <servlet>
    <servlet-name>Camera</servlet-name>
    <servlet-class>com.foxconn.servlet.CameraControl</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Camera</servlet-name>
    <url-pattern>/Servlet/GetCameraServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Camera</servlet-name>
    <url-pattern>/Servlet/GetCameraServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Model</servlet-name>
    <servlet-class>com.foxconn.servlet.ModelControl</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Model</servlet-name>
    <url-pattern>/Servlet/GetModelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Storage</servlet-name>
    <servlet-class>com.foxconn.servlet.StorageControl</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Storage</servlet-name>
    <url-pattern>/Servlet/GetStorageServlet</url-pattern>
  </servlet-mapping>
</web-app>